<!DOCTYPE html>
<html>
<head>
<title>Ascii Art Web</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="styles.css">
</head>
<body class="backgroundImage">
    <div class="container">
        <div class="container_smaller">
        <h1>Ascii Art Web</h1>
        <div class="asciiResult">
            <pre>{{ . }}</pre>
        </div>
        <input class="toHomepage" onclick="window.location.href='/'" value="Back" />
    </div>
</div>
</body>
</html>